<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Location</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a
         href="#" 
         class="list-group-item clearfix" 
         *ngFor="let location of locations">
            <div class="pull left">
                <h4 class="list-group-heading"><strong>{{ location.name }}</strong></h4>
                <p class="list-group-item-text">{{location.street}},</p>
                <p class="list-group-item-text">{{location.city}},</p>
                <p class="list-group-item-text">{{location.state}},</p>
                <p class="list-group-item-text">{{location.zip}}</p>
            </div>
            <span>
                <div class="pull right">
                    <img 
                    [src]="location.imagePath" 
                    alt="{{location.name}}" 
                    class="img-responsive" style="max-height: 50px;">
                </div>
            </span>
        </a>
    </div>
</div> 
