<button (click)="addLocation()">Add a location</button>
<button (click)="editLocation()">Edit existing location</button>
<button (click)="deleteLocation()">Delete a location</button>
<button (click)="getLocations()">Get locations</button>
<br>
<hr>
<div *ngIf="isAddLocationVisible">
    <h6>Enter Location Name, Location Street Address, Location City, Location State, and Location Zip:</h6>
    <br>
    <strong>Location Name:</strong>
    <input type="text" name="location_name">
    <strong>Location Street Address:</strong>
    <input type="text" name="location_street">
    <strong>Location City:</strong>
    <input type="text" name="location_city">
    <strong>Location State:</strong>
    <input type="text" name="location_state">
    <strong>Location Zip:</strong>
    <input type="text" name="location_zip">
    <button>ADD</button>
</div>
<div *ngIf="isEditLocationVisible">
    <h6>Enter Location Id and Location Name to you wish to edit:</h6>
    <strong>Location Id Number:</strong>
    <input type="text" name="location_id">
    <strong>Location Name:</strong>
    <input type="text" name="location_name">
    <button>EDIT</button>
</div>
<div *ngIf="isDeleteLocationVisible">
    <h6>Please Enter Location Id AND Location Name you wish to delete:</h6>
    <strong>Location Id Number:</strong>
    <input type="text" name="location_id">
    <strong>Location Name:</strong>
    <input type="text" name="location_name">
    <button>DELETE</button>
</div>
<table *ngIf="isGetLocationsVisible" class="table table-bordered">
    <th>Location Id</th>
    <th>Location Name</th>
    <th>Location Address</th>
    <th>Location Phone Number</th>
    <tr *ngFor="let location of locations">
        <td>{{location.locationId}}</td>
        <td>{{location.locationName}}</td>
        <td>{{location.locationAddress}}</td>
        <td>{{location.locationPhoneNumber}}</td>
    </tr>
</table>