<div id="adminWelcome">
	<h1>Welcome to the Admin Portal</h1>
	<br>
	<br>
	<button class="btn btn-success">Edit Orders</button> <button class="btn btn-primary">Edit Toppings</button> <button class="btn btn-warning">Edit Locations</button>
	<br>
	<br>
</div>
<div id="adminTable">
    <table class="table table-bordered">
		<th>Order Number</th>
		<th>Store Name</th>
        <th>Name on Order</th>
		<th>Order Status</th>
		<th>Phone Number</th>
	    <th>Time Ordered</th>
        <th>Order Price</th>
    </table>
</div>