<div id="adminWelcome">
	<h1>Welcome to the Admin Portal</h1>
	<br>
	<br>
	<button (click)="editOrders()">Edit Orders</button>
	<button (click)="editToppings()">Edit Toppings</button>
	<button (click)="editLocations()">Edit Locations</button>
	<br>
	<br>
</div>
<div id="adminTable" *ngIf="isOrderVisible">
	<h5>Enter order number and choose attribute you wish to edit:</h5>
	<strong>Order Id Number:</strong>
	<input type="text" name="order_id">
	<div>
		<button> Order Attribute</button>
		<!--<ul class="dropdown-menu">
			<li><a href="#">Order Location</a></li>
			<li><a href="#">Order Name</a></li>
			<li><a href="#">Order Status</a></li>
			<li><a href="#">Phone Number</a></li>
			<li><a href="#">Order Price</a></li>
		</ul>-->
	</div>
	<button (click)="editOrder2()">Submit</button>
	<div *ngIf="isOrder2Visible">
		<strong>Enter the order information with wish to edit:</strong>
	</div>
	<app-orders></app-orders>
</div>
<div *ngIf="isToppingVisible">
	<app-toppings></app-toppings>
</div>
<div *ngIf="isLocationVisible">
	<app-locations></app-locations>
</div>