<div id="menuInfo">
    <div>
      <h2><strong>All Pizza Sizes:</strong></h2>
        <a
         href="#" 
         class="list-group-item clearfix" 
         *ngFor="let pizza of pizzas">
            <div>
                <h4 class="list-group-heading"><strong>{{ pizza.pizzaSize }}</strong></h4>
                <p class="list-group-item-text">{{ pizza.pizzaPrice }}</p>
            </div>
        </a>
    </div>
</div> 
<hr>
<div id="toppingInfo">
    <div>
      <h2><strong>All Toppings:</strong></h2>
        <a
         href="#" 
         class="list-group-item clearfix" 
         *ngFor="let topping of toppings">
            <div class>
                <h4 class="list-group-heading"><strong>{{ topping.toppingName }}</strong></h4>
                <p class="list-group-item-text">{{ topping.toppingPrice }}</p>
            </div>
        </a>
    </div>
</div> 
