<form>
    Name:
    <input type="text" name="name">
    <br>
    <br>
    Phone Number:
    <input type="text" name="phone_number">
    <br>
    <br>
    Please choose your location below:
    <br>
    <input type="radio" name="location" value="Wrights">Wright's Pizzeria
    <input type="radio" name="location" value="Downtown">Downtown Pizzeria
    <input type="radio" name="location" value="Peachtree">Peachtree Pizzeria
    <br>
    <br>
    Please choose your desired pizza size below:
    <br>
    <input type="radio" name="location" value="small">Small
    <input type="radio" name="location" value="medium">Medium
    <input type="radio" name="location" value="large">Large
    <input type="radio" name="location" value="extra">Extra-Large
    <br>
    <br>
    Please choose your desired toppings below:<br>
    <input type="checkbox" name="topping" value="mushrooms">Mushrooms
    <input type="checkbox" name="topping" value="olives">Olives
    <input type="checkbox" name="toppings" value="pepperoni">Pepporoni
    <input type="checkbox" name="toppings" value="cheese">Extra Cheese
    <input type="checkbox" name="toppings" value="ham">Ham
    <input type="checkbox" name="toppings" value="bacon">Bacon
    <input type="checkbox" name="toppings" value="pineapple">Pineapple
    <input type="checkbox" name="toppings" value="peppers">Peppers
    <input type="checkbox" name="toppings" value="anchovies">Anchovies
    <input type="checkbox" name="toppings" value="basil">Basil<br>
    <input type="checkbox" name="toppings" value="beef">Ground Beef
    <input type="checkbox" name="toppings" value="garlic">Garlic
    <input type="checkbox" name="toppings" value="tomatoes">Tomatoes
    <input type="checkbox" name="toppings" value="onions">Onions
    <input type="checkbox" name="toppings" value="zucchini">Zucchini
    <input type="checkbox" name="toppings" value="spinach">Spinach
    <input type="checkbox" name="toppings" value="sausage">Sausage
    <input type="checkbox" name="toppings" value="salami">Salami
    <input type="checkbox" name="toppings" value="chicken">Chicken
    <input type="checkbox" name="toppings" value="artichoke">Artichoke
    <br>
    <input type="submit" value="submit">
    <input type ="button" value ="Add another pizza">
</form>