<form id="createOrder">
    Name:
    <input type="text" name="order_name">
    <br>
    <br> Phone Number:
    <input type="text" name="order_phone_number">
    <br>
    <br>
    <hr> Please choose your location below:
    <br>
    <input type="radio" name="order_location" value="Wrights">Wright's Pizzeria
    <input type="radio" name="order_location" value="Downtown">Downtown Pizzeria
    <input type="radio" name="order_location" value="Peachtree">Peachtree Pizzeria
    <br>
    <br>
    <hr> Please choose your desired pizza size below:
    <br>
    <div *ngFor="let pizzaSize of pizzaSizes">
        <input type="radio" value="pizza_size" name="order_pizza_size" [checked]="selectedPizzaSizes.indexOf(pizzaSize.pizzaSizeId) !== -1"
            (click)="selectPizzaSize(pizzaSize.pizzaSizeId)">{{pizzaSize?.pizzaSizeName}}
    </div>
    <br>
    <br>
    <hr>
    <br>
    <div *ngFor="let topping of toppings">
        <input type="checkbox" value="topping" name="order_topping" [checked]="selectedToppings.indexOf(topping.toppingId) !== -1"
            (click)="selectTopping(topping.toppingId)">{{topping.toppingName}}
    </div>
    <br>
    <br>
    <hr>
    <button>Submit Order</button>
    <button>Add Another Pizza</button>
</form>