<form id="orderTracker">
    <h3>Track the status of your order</h3>
    <br>
    <br>
    <h6><strong>Please enter either:</strong></h6>
    <br>
    <br>
    Your order number
    <input type="text" name="orderId">
    <br>
    <br>
    <h5><strong>or</strong></h5>
    <br>
    <hr>
    <br>
    Name on the order
    <input type="text" name="name">
    <br>
    <br>
    <strong>and</strong>
    <br>
    <br>
    Phone number on the order
    <input type="text" name="phone_number">
    <div>
        <br>
        <br>
        <button class="btn btn-warning">Track Order</button>
    </div>
</form>